@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,400;1,500&display=swap');
:root {
    --background-color: ;
    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Montserrat", sans-serif;
    --ff-accent: "Source Code Pro", monospace;
}

