@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Poppins:wght@300;400;500;600;700;800&family=Source+Code+Pro:ital,wght@0,400;1,500&display=swap');

:root {
    --background-color: #000000;
    --dynamic-text-color: white;
    --text-color: #ffffff;
    --accent-color: #a72923;
    --ff-primary: "Poppins", sans-serif;
    --ff-secondary: "Montserrat", sans-serif;
    --ff-accent: "Source Code Pro", monospace;
}

html, body {
    height: 100%;
    min-height: 100%;
    max-width: 100%;
    margin: 0;
    scroll-behavior: smooth;
    background-color: var(--background-color);
    user-select: none;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*::-webkit-scrollbar {
  display: none;
}

a {
    text-decoration: none;
}

/* ---------------- */
/* -----Navbar----- */
/* ---------------- */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2.5rem 1rem 2.5rem;
    margin: 1vh;

    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    z-index: 99;
}

.nav-menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
}

.nav-item {
    margin-left: 5rem;
}

.nav-link {
    font-family: var(--ff-primary);
    font-size: 1rem;
    color: var(--dynamic-text-color);
    transition: ease .5s;
}

.nav-link:hover {
    opacity: .5;
    color: var(--dynamic-text-color);
    transition: ease .5s;
}


/* ---------------- */
/* --Home section-- */
/* ---------------- */
.home-section {
    display: flex;
    align-items: center;
    background-color: var(--background-color);
    height: 100vh;
    padding: 15vh 0 15vh 0;
}

.text {
    color: var(--text-color);
}

.text-accent {
    color: var(--accent-color);
}

.accent-font {
    font-family: var(--ff-accent);
}

.home-description {
    color: var(--text-color);
    opacity: .7;
    font-size: 1.1rem;
}

/* Explore button and liquid. */
/* 
.explore-button {
    position: relative;
    margin-left: 10rem;
    display: inline-block;
    border: 7px solid var(--text-color);
    padding: 2.9em 2em;
    border-radius: 50%;
    font-weight: 700;
    transition: ease .5s;
    overflow: hidden;
    color: var(--text-color);
    font-size: 2rem;
}

.explore-button span {
    position: relative;
    z-index: 1;
}

.explore-button .liquid {
    position: absolute;
    top: 0;
    left: 0;
    width: 400px;
    height: 400px;
    background: #ffffff;
    box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
    transition: .5s;
}

.explore-button .liquid::after,
.explore-button .liquid::before {
  content: '';
  width: 200%;
  height: 200%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -75%);
  background: black;
}

.explore-button .liquid::before {
  border-radius: 45%;
  background: rgba(20, 20, 20, 1);
  animation: animate 5s linear infinite;
}

.explore-button .liquid::after {
  border-radius: 40%;
  background: rgba(20, 20, 20, .5);
  animation: animate 10s linear infinite;
}

.explore-button:hover {
    color: black;
}

.explore-button:hover .liquid{
    top: -165px;
}

@keyframes animate {
  0% {
    transform: translate(-50%, -75%) rotate(0deg);
  }
  100% {
    transform: translate(-50%, -75%) rotate(360deg);
  }
} */

.come-in-button {
    background-color: transparent;
    color: var(--text-color);
}

/* ---------------- */
/* -----Circle----- */
/* ---------------- */

.circle {
    position: absolute;
    z-index: 10;
    top: 53vh;
    left: 53vw;
    width: 50px;
    height: 50px;
    background-color: white;
    border-radius: 50%;
    animation: circleBob 5s ease-in-out infinite;
    transition-duration: .2s;
}

@keyframes circleBob {
    0% {
        top: 53vh;
    }
    50% {
        top: 45vh;
    }
    100% {
        top: 53vh;
    }
}




/* ----------------- */
/* --About section-- */
/* ----------------- */
.about-section {
    height: 100vh;
    background: white;
    z-index: 98;
}

.experience-section {
    height: 100vh;
    background: black;
    z-index: 97;
}
